@import "tailwindcss";



@theme inline {
  --color-fondoP: #F1F5F9; /*Fondo principal (Blanco)*/
  --color-fondoS: #E74C3C; /*Fondo secundario (Rojo)*/
  --color-textoB: #F9FBFF; /*Texto blanco*/
  --color-textoN: #070707;/*Texto Negro*/
}



body {
   font-family: poppins, sans-serif;
}

